@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

.rotate-in-center {
  animation: rotate-in-center 0.6s;
}

@keyframes rotate-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
